name: 'Deploy: files.cow.fi'

on:
  push:
    branches:
      - main
    paths:
      - 'static-files/public/**'
  workflow_dispatch: # Manual trigger

# Required for authenticating with AWS IAM
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to files.cow.fi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::693696263829:role/cow-files-github-action-role
          role-session-name: githubactionsession
          aws-region: eu-central-1

      - name: Upload to S3
        run: |
          aws s3 sync static-files/public/ s3://files.cow.fi/cow-files/ \
            --delete \
            --exclude ".DS_Store" \
            --exclude "*.tmp" \
            --exclude "*.temp"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $DIST_ID \
            --paths "/cow-files/*"
        env:
          DIST_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
